<%#= simple_form_for :search, method: :get do |t| %>

<%= simple_form_for [@terrace, @booking] do |f| %>

  <h5>Dates</h5>
  <!-- start_date and end_date -->
 <%= f.input :booking_start_date, as: :string, label: 'Start date', input_html: {class: "datepicker", id: "range"} %>
 <%= f.input :booking_end_date, as: :string, label: 'End date', input_html: {class: "datepicker", id: "end_date"} %>

  <!-- message to terrace owner -->
  <div class="d-flex justify-content-between">
    <%= f.submit "Book now", class: "btn btn-pink" %>

  <%= link_to 'Message Host', conversations_path(sender_id: @user.id, recipient_id: @terrace.user.id), method: 'post', class:"btn btn-pink width-btn-wide"%>

  </div>

<% end %>
<%= javascript_tag do %>
  let price = <%= @terrace.price %>;
<% end %>
