

  <div>
    <div class="form-group index-search-container">
      <%= form_tag terraces_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control index-search-form mt-n5",
          placeholder: "search anywhere"
        %>
      <% end %>
    </div>
  </div>


<div class="page-container">
    <div class="row justify-content-start m-1">
      <% @terraces.each do |terrace|  %>
          <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
            <div class="card-terrace">

                <img src="https://images.unsplash.com/photo-1528061019198-c2391f414bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" />

                    <!-- TITLE ADDRESS AND GREEN BUTTON  -->
                    <div class="card-top d-flex justify-content-between align-items-start">
                      <div>
                        <h2><%= terrace.title %></h2>
                        <!-- ADDRESS -->
                        <div class="d-flex align-items-start card-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <p><%= terrace.address %></p>
                        </div>

                      </div>
                      <p class="btn-green">Available</p>
                    </div>

                    <!-- PRICE AND PINK BUTTON -->
                    <div class="card-bottom d-flex align-items-center justify-content-between">
                      <h3><%= terrace.price %> €</h3>
                      <%= link_to "Book Now!", terrace_path(terrace), class:'btn btn-pink'%>
                      <!-- <a class="btn btn-pink" href="#">Book now</a> -->
                    </div>

            </div>
          </div>
      <% end %>
    </div>
</div>




