

  <div>
    <div class="form-group index-search-container">
      <%= form_tag terraces_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control index-search-form mt-n5",
          placeholder: "search anywhere"
        %>
      <% end %>
    </div>
  </div>


<div class="page-container">
    <div class="row justify-content-start m-1">
      <% if @terraces.count == 0 %>
        <h1>Sorry, no terraces there.</h1>
      <% else %>
        <% @terraces.each do |terrace|  %>
          <%= link_to terrace_path(terrace), :action => 'go' do %>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
              <div class="card-terrace">

                  <%= cl_image_tag terrace.photos[0].key, height: 250, crop: :fill %>


                      <!-- TITLE ADDRESS AND GREEN BUTTON  -->
                      <div class="card-top d-flex justify-content-between align-items-start">
                        <div>
                          <%= link_to terrace_path(terrace), :action => 'go' do %>
                            <h2><%= terrace.title %></h2>
                          <% end %>
                          <!-- ADDRESS -->
                          <div class="d-flex align-items-start card-address">
                          <i class="fas fa-map-marker-alt"></i>
                          <p><%= terrace.address %></p>
                          </div>

                        </div>
                        <p class="btn-green">Available</p>
                      </div>

                      <!-- PRICE AND PINK BUTTON -->
                      <div class="card-bottom d-flex align-items-center justify-content-between">
                        <h3><%= terrace.price %> €</h3>
                        <%= link_to "Book Now!", terrace_path(terrace), class:'btn btn-pink'%>
                        <!-- <a class="btn btn-pink" href="#">Book now</a> -->
                      </div>

              </div>
            </div>
          <% end %>
        <% end %>
        <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      <% end %>
    </div>

</div>




