<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <% counter = 0 %>
    <% @terrace.photos.each do |photo| %>
      <% if counter == 0 %>
        <div class="carousel-item active">
          <%= cl_image_tag @terrace.photos[0].key, class:"d-block w-100" %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= cl_image_tag @terrace.photos[counter].key, class:"d-block w-100" %>
        </div>
      <% end %>
      <% counter += 1 %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container d-flex mx-auto my-4">
  <div class="terrace-infos mr-3">
    <h1 class='title'> <%= @terrace.title %> </h1>
    <h4 class="address"> <%= @terrace.address %> </h4>
    <p class="capacity">Capacity: <%= @terrace.capacity %></p>
    <p class="description"> <%= @terrace.description %> </p>
  </div>

    <% if current_user == @terrace.user %>
      <div class="owner-div">
        <h3 class="price">€ <%= @terrace.price %></h3>
        <div class="edit-btn">
          <button class="btn btn-pink"><i class="far fa-edit"></i>  Edit</button>
        </div>
        <div class="delete-btn">
          <%= link_to terrace_path(@terrace), method: :delete, data: { confirm: "Are you sure?" } do %>
            <button class="btn btn-pink">
              <i class="far fa-trash-alt"></i>Delete
            </button>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="booking-infos p-3">
        <h3 class="price"><%= @terrace.price %>€ / day</h3>
        <%= render 'bookings/form'%>
        <div class="range-price">
          <p id="days-range"></p>
          <p id="price-total"></p>
        </div>

      </div>
  <% end %>

</div>

  <%= link_to "Back to Terraces", terraces_path, class:'btn btn-pink mt-5 ml-5'%>
